<div id="map-canvas"> </div>   

<div class="container-fluid" id="main">    
  <div class="row">

    <div class="col-xs-8" id="left">
        <h1 class="center"> CIVIC HAPPENINGS </h1> 
      <div ng-app="app">  
         <div ng-controller="happeningsCtrl" ng-init="fetchData()">

            <div ng-click="show=!show">
              <h3 target="_ext" class="center-block btn btn-primary">MAKE SOMETHING HAPPEN</h3>
            </div>

            <div id="form" ng-hide="!show">
              Name: <input ng-model="happeningName"/>
              Address: <input ng-model="happeningAddress"/>
              <div class="input-group date">
                <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
              </div>
              <script type="text/javascript">
                $('.input-group.date').datepicker({});
              </script>
              <!-- <input ng-model="happeningTime"/> -->
              Description: <textarea ng-model="happeningDescription"></textarea>
              <button ng-click="addHappening(happeningName, happeningAddress, happeningTime, happeningDescription, HappeningType)">Make it Happen</button>
            </div>

            <div ng-repeat="happening in happenings">
              <div class="panel panel-default">  
                <div class="panel-heading source-{{ source }}" ng-click="toggleDescriptionVisible(happening)"> 
                  <h2> {{ happening.name }} <h2>  
                  <h3> {{ happening.human_time }} </h3> 
                  <p ng-if="happening.descriptionVisible" ng-bind-html="makeTrust(happening.description)"> {{ happening.description }} </p>   
                  <p> <a href=" {{ happening.url }} "> Event Link </a> </p>
                </div>       
              </div>
            </div>

          </div>
      </div>
    </div>

    <div class="col-xs-4"><!--map-canvas will be postioned here--></div> 
  </div> 
</div> 
<!-- end template -->

  <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
    <!-- <script src="js/scripts.js"></script> -->


<script>
  $(document).ready(function(){

  google.maps.event.addDomListener(window, 'load', initialize);

    function initialize() {

      var mapOptions = {
        center: new google.maps.LatLng(41.8369, -87.7847),
        scrollWheel: true,
        zoom: 10
      };
      
      var markers = [
        <% @happenings.each do |happening| %>
         <% if happening.lat && happening.lon %>
            new google.maps.Marker({
              position: new google.maps.LatLng(<%= happening.lat %>, <%= happening.lon %>),
              url: '/',
              animation: google.maps.Animation.DROP
            }),
          <% end %>
        <% end %>
      ];
      
      var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

      var contentString = '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
          '<div id="bodyContent">'+
          '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
          'sandstone rock formation in the southern part of the '+
          'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
          'south west of the nearest large town, Alice Springs; 450&#160;km '+
          '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
          'features of the Uluru - Kata Tjuta National Park. Uluru is '+
          'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
          'Aboriginal people of the area. It has many springs, waterholes, '+
          'rock caves and ancient paintings. Uluru is listed as a World '+
          'Heritage Site.</p>'+
          '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
          'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
          '(last visited June 22, 2009).</p>'+
          '</div>'+
          '</div>';

      for(var i = 0; i < markers.length; i++){
        markers[i].setMap(map);
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        google.maps.event.addListener(markers[i], 'click', function() {
          infowindow.open(map,markers[i]);
        });
      }

        

        

        

    };
  });
</script>


