<div id="map-canvas"> </div>   

<div class="container-fluid" id="main">    
  <div class="row">

    <div class="col-xs-8" id="left">
        <h1 class="center"> CIVIC HAPPENINGS </h1> 
      <div ng-app="app">  
         <div ng-controller="happeningsCtrl" ng-init="fetchData()">

            <div ng-click="show=!show">
              <h3 target="_ext" class="center-block btn btn-primary">MAKE SOMETHING HAPPEN</h3>
            </div>
            <div ng-hide="!show">
              <form action="" method="post" class="elegant-aero">
                  <h1>What's Happening? 
                      <span>Please fill all the texts in the fields.</span>
                  </h1>
                  <label>
                      <span>Happening Name :</span>
                      <input id="name" type="text" name="name" placeholder="Happening Name" />
                  </label>
                  
                  <label>
                      <span>Time :</span>
                      <input id="email" type="email" name="email" placeholder="Valid Time." />
                  </label>
                  
                  <label>
                      <span>Description :</span>
                      <textarea id="message" name="message" placeholder="Describe this happening"></textarea>
                  </label> 
                   <label>
                      <span>Subject :</span><select name="selection">
                      <option value="Community Meeting">Community Meeting</option>
                      <option value="Talk">Talk</option>
                      <option value="Protest">Protest</option>
                      </select>
                  </label>    
                   <label>
                      <span>&nbsp;</span> 
                      <input ng-click="addHappening" type="button" class="button" value="Send" /> 
                  </label>    
              </form> 
            </div>

            <div ng-repeat="happening in happenings">
              <div class="panel panel-default">  
                <div class="panel-heading source-{{ source }}" ng-click="toggleDescriptionVisible(happening)"> 
                  <h2> {{ happening.name }} <h2>  
                  <h3> {{ happening.human_time }} </h3> 
                  <p ng-if="happening.descriptionVisible" ng-bind-html="makeTrust(happening.description)"> {{ happening.description }} </p>   
                  <p> <a href=" {{ happening.url }} "> Event Link </a> </p>
                </div>       
              </div>
            </div>

          </div>
      </div>
    </div>

    <div class="col-xs-4"><!--map-canvas will be postioned here--></div> 

  </div> 
</div> 
<!-- end template -->

  <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
    <script src="js/scripts.js"></script>


<script>
  $(document).ready(function(){

  google.maps.event.addDomListener(window, 'load', initialize);

    function initialize() {

      var mapOptions = {
        center: new google.maps.LatLng(41.8369, -87.7847),
        scrollWheel: true,
        zoom: 10
      };
      
      var markers = [
        <% @happenings.each do |happening| %>
         <% if happening.lat && happening.lon %>
            new google.maps.Marker({
              position: new google.maps.LatLng(<%= happening.lat %>, <%= happening.lon %>),
              url: '/',
              animation: google.maps.Animation.DROP
            }),
          <% end %>
        <% end %>
      ];
      
      var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
      
      for(var i = 0; i < markers.length; i++){
        markers[i].setMap(map);
      }

    };
  });
</script>


