<h1 class="center"> Make Something Happen: </h1>

<form action="" method="post" class="elegant-aero">
    <h1>What's Happening? 
        <span>Please fill all the texts in the fields.</span>
    </h1>
    <label>
        <span>Happening Name :</span>
        <input id="name" type="text" name="name" placeholder="Happening Name" />
    </label>
    
    <label>
        <span>Time :</span>
        <input id="email" type="email" name="email" placeholder="Valid Time." />
    </label>
    
    <label>
        <span>Description :</span>
        <textarea id="message" name="message" placeholder="Describe this happening"></textarea>
    </label> 
     <label>
        <span>Subject :</span><select name="selection">
        <option value="Community Meeting">Community Meeting</option>
        <option value="Talk">Talk</option>
        <option value="Protest">Protest</option>
        </select>
    </label>    
     <label>
        <span>&nbsp;</span> 
        <input ng-click="addHappening" type="button" class="button" value="Send" /> 
    </label>    
</form>