// Place all the styles related to the happenings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.source-eventbrite {
    background: rgb(255, 128, 0);
    background: rgba(255, 128, 0, 0.5);
}


.source-meetup {
    background: rgb(229, 24, 55);
    background: rgba(229, 24, 55, 0.5);
}

.source-clearPath {
    background: rgb(0, 153, 204);
    background: rgba(0, 153, 204, 0.5);
}


.headline {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 70px;
}


.center {
  text-align: center;
}

.ng-enter, .ng-move{
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
 
.ng-leave{
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

